.btn {

    border-radius: 5px;
    height: 40px;
    width: 175px;
    text-align: center;
    margin: 40px auto auto auto;
    transition: background-color 0.3s ease;
    --opacity-amount: 1;

}

.btn:hover {

--opacity-amount: 0.75;

}

.button-text {

    padding: 7px;
    font-size: 18px;

}

.green-button {
    
    background-color: rgba(23, 138, 39, var(--opacity-amount));
    color: #fff;
}

.blue-button {
    
    background-color: rgba(22, 134, 209, var(--opacity-amount));
    color: #fff;
}

.red-button {
    
    background-color: rgba(133, 36, 06, var(--opacity-amount));
    color: #fff;
}

.white-button {
    
    background-color: rgba(255, 255, 255, var(--opacity-amount));
    color: #666666;
    border: 1px solid #918e8e;
    margin: 10% 10% 10% 65%;
    width: 150px;
}

.white-button:hover {

    background-color: #c5c1c1;

}

.white-button-small {
    
    background-color: rgba(255, 255, 255, var(--opacity-amount));
    color: #666666;
    border: 1px solid #918e8e;
    margin: auto;
    width: 100px;
}

.white-button-small:hover {

    background-color: #c5c1c1;

}


nav {

    display: flex;
    background-color: #383E4C;
    height: 10.5vh;
    min-height: 70px;
    width: 100%;
    margin: none;
    position: fixed;
    z-index: 1000;
}

body {

    margin: 0px;
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
}

.nav-links-section {

    display: flex;
    margin: auto;

}

a {

    text-decoration: none;

}

.nav-link {

    background-color: #383E4C;
    border: 1px solid #646d7c;
    color: #fff;
    margin: 0 1.5vw 0 0;
    transition: background-color 0.3s ease;

}

.nav-link:hover {

    background-color: #49505F;

}

.nav-text {

    text-align: center;
    margin: auto;
    padding: 10px;
    font-size: 1.3vw;
    font-weight: 500;
    padding: 1vw 2vw;
    
}

.main-hero {

    position: relative;
    height: 100%;
    padding: 1px;
    text-align: center;
    color: #fff;
    
}

.hero-background {

    
    top: 0;
    left: 0;
    width: 100%;
    height: 500px;
    background-image: url("nighttime-hero-image.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: -1;
    background-attachment: fixed;

}

.hero-text {

    padding: 20vh;
    z-index: 1;
    position: relative;
    margin-top: 50px;
    text-shadow: 3px 2px 0px rgba(0, 0, 0, 0.5);

}

h1 {

    font-size: 70px;
    font-weight: 500;
    margin: 5px;
}

h2 {

    font-weight: 700;
}

h3 {


    font-weight: 500;
    color: #666;
    font-style: italic;
    font-size: 32px;

}

h4 {

    font-weight: 300;
    margin: 5px;
    text-shadow: 1px 2px 0px rgba(0, 0, 0, 0.5);
}


.feature-card-section {

    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 50px 0px 0px 0px;

}

.feature-card {

background-color: #F2F2F2;
width: 360px;
height: 425px;
margin: 15px 0px 15px 30px;
padding: 0 0px 25px 0px;

}

.feature-card-title {

    font-size: 20px;
    font-weight: bold;

}

.two-column-card-title {

    font-size: 20px;
    font-weight: bold;

}

.green-version {

    color: rgba(23, 138, 39, 1);
    
}

.blue-version {

    color: rgba(22, 134, 209, 1);
    
}

.red-version {

    color: rgba(133, 36, 06, 1);
    
}

.grey-version {

    color: #666666;
    
}

.feature-card-image-container {


    height: 43%;

}

.feature-card-image {


    height: 100%;
    width: 100%;
    object-fit: cover;

}

.card-content {

    margin: 20px;
    font-size: 14px;
    color: #333333;

}

.two-column-section {

    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 35px 0px 0px 0px;
    
}


.two-column-card {

    background-color: #F2F2F2;
    width: 555px;
    height: 540px;
    margin: 15px 0px 15px 30px;
    padding: 0 0px 25px 0px;
}

.two-column-card-image {


    height: 100%;
    width: 100%;
    object-fit: cover;

}

.two-column-card-image-container {


    height: 43%;

}

.service-background {

    top: 0;
    left: 0;
    width: 100%;
    height: 250px;
    background-image: url("mountains-img.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: -1;
    background-attachment: fixed;

}

.service-section {

    margin: 35px 0px 0px 0px;

}

.service-content {

    text-align: center;

}

.service-title {

    padding: 50px 0px 10px 0px;
    z-index: 1;
    position: relative;
    font-size: 36px;
    color: #fff;
    text-shadow: 3px 2px 0px rgba(17, 17, 17, 0.5);

}

.service-text {

    margin: 0px 50px 0px 50px;
    color: #fff;

}

.four-column-section {

    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 35px 0px 0px 0px;
    
}

.four-column-card {

    background-color: #F2F2F2;
    width: 250px;
    height: 510px;
    margin: 15px 0px 15px 35px;
    padding: 0 0px 25px 0px;

}

.four-column-card-image-container {


    height: 60%;

}

.four-column-card-image {


    height: 100%;
    width: 100%;
    object-fit: cover;

}

.big-column-section {

    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 35px 0px 0px 0px;
    
}

.big-column-card {

    background-color: #F2F2F2;
    width: 75%;
    height: 100%;
    margin: 15px 0px 15px 35px;
    padding: 0 0px 25px 0px;

}

.big-column-card-image-container {


    height: 50%;

}

.big-column-card-image {


    height: 100%;
    width: 100%;
    object-fit: cover;

}

.default-margin {

    margin: 0% 0% 0% 0%;

}

.contact-background {

    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("panoramalandscape-img.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    /*z-index: -1;*/

}

.contact-title {

    padding: 50px 0px 10px 0px;
    z-index: 1;
    position: relative;
    font-size: 36px;
    color: #fff;
    text-shadow: 3px 3px 0px rgba(17, 17, 17, 0.5);
    text-align: center;

}

.contact-form-section {

    height: 100%;
    width: 100%;

}

.contact-form-instruction-box {

    background-color: rgba(242, 242, 242, 0.4);
    border-radius: 5px;
    width: 50%;
    margin: auto;
    padding: 10px;

}

.contact-instructions {

    margin: 10px;

}

.contact-form-lower-section {

    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 10px 0px 0px 0px;
    
}


.contact-form-lower-section-left {

    margin: 0px 10px 0px 0px;
    
}

.contact-form-lower-section-right {

    margin: 15px 10px 0px 0px;
    
}

input, textarea {

    background-color: rgba(242, 242, 242, 0.4);
    color: black;
    font-size: inherit;
    font-family: inherit;
    height: auto;
    border-radius: 5px;
    border: 1px solid transparent;
}

.submit-button {

    margin: 10px auto 50px 40%;
    background-color: #262628;
    color: #fff;
    font-size: 18px;
    padding: 10px 30px;
    border: 1px solid #fff;
    border-radius: 10px;
}

.submit-button:hover {

    background-color: #fff;
    color: #262628;
    cursor: pointer;

}

.last-section {

    font-family: "Open Sans", Helvetica, Arial, sans-serif;
    text-align: center;

}

.info-text {

    color: #999;
    font-size: 14px;

}

footer {

    color: #999;
    font-size: 14px;
    text-align: center;
    margin: 20px 0px;

}

hr {

    border: 1px solid rgba(17, 17, 17, 0.1);

}