.btn {

    border-radius: 5px;
    height: 40px;
    width: 175px;
    text-align: center;
    margin:auto;
    transition: background-color 0.3s ease;
    --opacity-amount: 1;


}

.btn:hover {

--opacity-amount: 0.75;

}

.button-text {

    padding: 10px;
    color: #fff;
    font-weight: bold;

}

.green-button {
    
    background-color: rgba(23, 138, 39, var(--opacity-amount));
}


nav {

    display: flex;
    background-color: #383E4C;
    height: 10.5vh;
    margin: none;
}

body {

    margin: 0px;
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
}

.nav-links-section {

    display: flex;
    margin: auto;
    font-weight: bold;

}

a {

    text-decoration: none;

}

.nav-link {

    background-color: #383E4C;
    border: 1px solid #646d7c;
    color: #fff;
    margin: 0 1.5vw 0 0;
    transition: background-color 0.3s ease;

}

.nav-link:hover {

    background-color: #49505F;

}

.nav-text {

    text-align: center;
    margin: auto;
    padding: 10px;
    font-size: 1.3vw;
    font-weight: 300;
    padding: 1vw 2vw;
    
}

#main-hero {

    background-image: url("nighttime-hero-image.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 70vh;
    padding: 1px;
    text-align: center;
    color: #fff;
    text-shadow: 1px 2px 0px rgba(0, 0, 0, 0.5);
}

.hero-text {

    margin: auto;
    padding: 20vh;
    

}

h1 {

    font-size: 8.5vh;
    font-weight: 300;
}

h4 {

    font-weight: 300;

}

.main {

}

.feature-card-section {

    display: flex;
    justify-content: center;
    flex-wrap: wrap;

}

.feature-card {

background-color: gainsboro;
width: 25%;
height: 30%;
margin: 50px;
padding: 0 0px 25px 0px;

}

.feature-card-title {

    
    font-weight: 700;
    font-size: 20px;

}

.green-version {

    color: #178A27;
    
}
